<!doctype html>
<html>
  <head>
    <title>Strona testująca politykę Same-Origin</title>
    <script>
var xhr = new XMLHttpRequest();
xhr.onreadystatechange = function() {
  var DONE = 4;
  var OK = 200;
  if (xhr.readyState == DONE) {
    if (xhr.status == OK) {
       console.log("[xhr] Request came back with data: " + xhr.responseText);
    } else {
       console.error("[xhr] Request came back with an ERROR: " + xhr.status);
    }
  }
}

function send_simple_request() { // Simple Request (no preflight)
  xhr.open('POST', 'http://server.company.com/', false);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.send("action%3Dping");
}

function send_not_so_simple_request() { // Not-So-Simple Request (with preflight)
  xhr.open('POST', 'http://server.company.com/', false);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.send(JSON.stringify({"state":"ping"}));
}

window.addEventListener("load", function() {
  document.getElementById("simple").addEventListener("click", function(event) {
    event.preventDefault();
    send_simple_request();
  });
  document.getElementById("not-so-simple").addEventListener("click", function(event) {
    event.preventDefault();
    send_not_so_simple_request();
  });
});
    </script>
  </head>
  <body>
    Send a regular POST request:
    <form action="http://server.company.com" method="POST">
      <input value="ping" type="text" name="action"/>
      <input value="submit" type="submit"/>
    </form>

    Send asynchronous requests (look at the JavaScript console for message):
    <ul>
      <li><a id="simple" href="/#send-simple-request">Send a simple request</a></li>
      <li><a id="not-so-simple" href="/#send-not-so-simple-request">Send a not-so-simple request</a></li>
    </ul>
  </body>
</html>
