<!doctype html>
<html>
  <head>
    <title>Test powiadomień ze strony serwera</title>
    <script src="/static/main.js"></script>
    <script>
      es = new EventSource("/stream")
      es.addEventListener("msg", function(event) {
          set_output("Current job finished in " + event.data + "%")
      }, false);
      es.addEventListener("error", function(event) {
          set_output("Failed to connect to event stream. Is the server running?");
      }, false);
    </script>
  </head>
  
  <body>
    <p>(przejdź do wersji wykorzystującej <a href="/">odpytywanie</a>)</p> 
    <p>Poniższy przycisk pozwala na uruchomienie zadania trwającego (domyślnie) od 10 do 30 sekund.</p>

    <form action="/job" id="form" method="post">
      <input type="hidden" value="10" name="workload"/>
      <input type="submit" value="start" name="start"/>
    </form>

     <p>Poniżej będą wyświetlane komunikaty.</p>
  </body>
</html>
